name: layrz_theme
description: Layrz standard theme library for Flutter, based on Material You (Material 3).
version: "7.2.2"
homepage: https://theme.layrz.com
repository: https://github.com/goldenm-software/layrz_theme

topics:
  - flutter
  - layrz
  - material-design
  - material-3
  - goldenm

environment:
  sdk: ">=3.4.0 <4.0.0"
  flutter: ">=3.27.0"

dependencies:
  flutter:
    sdk: flutter
  file: ^7.0.1
  google_fonts: ^6.2.1
  mime: ^2.0.0
  flex_color_picker: ^3.7.0
  collection: ^1.19.0
  emojis: ^0.9.9
  path_provider: ^2.1.5
  file_picker: ^8.1.7
  permission_handler: ^11.3.1
  permission_handler_html: ^0.1.3+5
  flutter_svg: ^2.0.16
  simple_shadow: ^0.3.1
  intl: ^0.19.0
  latlong2: ^0.9.1
  shared_preferences: ^2.3.5
  dio: ^5.7.0
  layrz_models: ^3.3.19
  pointer_interceptor: ^0.10.1+2
  two_dimensional_scrollables: ^0.3.3
  sync_scroll_controller: ^1.0.1
  web: ^1.1.0
  flutter_map: ^7.0.2
  flutter_map_cancellable_tile_provider: ^3.0.2
  flutter_highlight: ^0.7.0
  highlight: ^0.7.0
  code_text_field: ^1.1.0
  url_launcher: ^6.3.1
  layrz_icons: ^1.0.5

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/layo/
    - assets/testimages/

platforms:
  android:
  ios:
  linux:
  macos:
  web:
  windows:
